@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <p>Random passcode (passcode @ViewBag.count)</p>
    <p>@ViewBag.passcode</p>
    <form action="/generate" method="POST">
        <button>Generate</button>
    </form>
</div>
