@model int[]
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Here are some Numbers</h2>
        @foreach (var num in Model)
    {
        <p>@num</p>
    }
</div>