@model Category

<h1><a asp-action="Products">Products</a> | Categories</h1>

<div class="row justify-content-around">
    <form asp-action="AddCategory" asp-controller="Home" method="POST">
        <h2>Add a Product</h2>
        <div class="form-group">
            <span asp-validation-for="Name"></span>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
        </div>

        <div class="form-group">
            <input type="submit" value="Add Category" class="btn btn-outline-warning">
        </div>
    </form>
    <div class="col-5">
        <h2>Existing Categories</h2>
        @foreach(var c in ViewBag.Categories)
        {
            <a asp-action="Category" asp-route-categoryId="@c.CategoryId">@c.Name</a><br>
        }
    </div>