@model Transaction

<h1>Welcome @ViewBag.User.FirstName!</h1>

<div class="card">
    <h2>Balance: $@ViewBag.Balance</h2>
</div>

<form class="col-5" asp-action="Process" asp-controller="Bank" method="post">
    <input asp-for="UserId" value="@ViewBag.User.UserId" type="hidden">
    <div class="form-group">
        <span asp-validation-for="Amount"></span>
        <label asp-for="Amount"></label>
        <input asp-for="Amount" class="form-control">
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-outline-danger">
    </div>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in ViewBag.Transactions)
        {
            <tr>
                <td>$@t.Amount</td>
                <td>@t.CreatedAt.ToLongDateString()</td>
            </tr>
        }
    </tbody>
</table>