@model Chef
<h1>Add a Chef!</h1>
<a href="/">Home</a>

<form class="col-5" asp-action="AddChef" asp-controller="Home" method="post">
    <div class="form-group">
        <span class="red" asp-validation-for="FirstName"></span><br>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control">
    </div>
    <div class="form-group">
        <span asp-validation-for="LastName"></span><br>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control">
    </div>
    <div class="form-group">
        <span asp-validation-for="Birthday"></span><br>
        <label asp-for="Birthday"></label>
        <input type="date" asp-for="Birthday" class="form-control">
    </div>
    <div class="form-group">
        <input type="submit" value="Add Chef" class="btn btn-outline-success">
    </div>
</form>